<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
             <h5 class="white-text">Denisse Dominguez</h5>
             <p class="grey-text text-lighten-4">A01702603</p>
            </div>
        </div>
    </div>
</footer>