
h1{
  background-color: pink;
}



body{
  margin: 0 auto;
  max-width: 50em;
  max-height: 1.5;
  padding: 4em 1em;
}

#matricula{
  text-align: right;
}
#intro{
  text-align: center;
  color: #B33AB8;
}

#intro:hover{
  text-align: center;
  color: yellow;
}

#aficiones{
  color: #DB80DF;
  text-decoration: underline
}

#datos{
  color: #DB80DF;
  text-decoration: underline
}

/*estilos de pie de pagina footer*/
footer{
  position: relative;
  margin-top:-10px;
  width: 100%;
  padding: 50px;
  background: #D56ADA;
  clear: both; /* poner el elemento footer debajo del anterior*/
  text-align: center;
  color: #fff;
}

#foto{
  padding: 20px;
  margin: 15px;
  border: 2px solid pink;
  float: right;
  width: 200px;
}
