<%- include('includes/head.ejs') %>
    <h1 id="principal">Este sitio es de platillos favoritos</h1>
    <!-- % sacar color del arreglo colores -->
    <% for (let platillo of platillos) { %>
        <p><%= platillo.nombre %></p> 
        <!-- %= insertar un valor -->
    <% } %>
    <h2> Nuevo platillo favorito:</h2>
    <form action="/mod1/comidaFavorita" method="POST">
        <label for="platillo">Platillo: </label>
        <input type="text" id="platillo" name="platillo" placeholder="Curry">
        <br><br>
        <input type="submit" value="Enviar">
    </form>
    <br><br>
    <a href="/mod1"><button type="button">Regresar a la lista </button></a>
<%- include('includes/foot.ejs') %>