<%- include('includes/head.ejs') %>
    <h1 id="principal">Los animales más bontios</h1>
    <h2><%= username %>Animales:</h2>
    <form action="/animales/nuevoAnimal" method="POST"> 
        <label for="nombre">Nombre: </label>
        <input type="text" id="nombre" name="nombre" placeholder="Perro">
        <br><br>
        <a href="/animales"><input type ="submit" value="Enviar"></a>
    </form>
    <br><br>
<%- include('includes/foot.ejs') %>