<%- include('includes/head.ejs') %>
    <h1 id="principal">Este sitio es de peliculas favoritas</h1>
    <h2><%= nombre %> Nueva pelicula favorito:</h2>
    <form action="/mod2/peliculaFavorita" method="POST">
        <label for="nombre">Pelicula: </label>
        <input type="text" id="pelicula" name="pelicula" placeholder="Up">
        <br><br>
        <input type="submit" value="Enviar">
    </form>
    <br><br>
    <a href="/mod2"><button type="button">Regresar a la lista </button></a>
<%- include('includes/foot.ejs') %>